@page
@model QuizMakerDb.Pages.CourseYears.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item fs-3"><a asp-page="Index">Course Years</a></li>
            <li class="breadcrumb-item fs-3 active" aria-current="page">Create</li>
        </ol>
    </nav>
    <form class="row justify-content-center mt-3" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-5 col-xxl-4">
            <div class="card card-primary card-outline mb-4">
                <div class="card-header">
                    <div class="card-title fw-medium">Create Course Year</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="CourseYearVM.CourseId" class="form-label"></label>
                                    <select asp-for="CourseYearVM.CourseId" asp-items="ViewBag.Courses" class="form-select"></select>
                                    <span asp-validation-for="CourseYearVM.CourseId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="CourseYearVM.Year" class="form-label"></label>
                                    <select asp-for="CourseYearVM.Year" asp-items="Html.GetEnumSelectList<YearLevel>()" class="form-control form-select"></select>
                                    <span asp-validation-for="CourseYearVM.Year" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <input asp-for="CourseYearVM.Active" class="form-check-input bg-secondary border-secondary custom-disabled-checkbox" type="checkbox" tabindex="-1" checked />
                                <label class="form-check-label ps-1">Active</label>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-page="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
