@page
@model QuizMakerDb.Pages.CourseYears.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item fs-3"><a asp-page="Index">Courses</a></li>
            <li class="breadcrumb-item fs-3 active" aria-current="page">Create</li>
        </ol>
    </nav>
    <form class="row justify-content-center mt-3" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="CourseYearVM.Id" type="hidden" />
        <input asp-for="CourseYearVM.CreatedBy" type="hidden" />
        <input asp-for="CourseYearVM.CreatedDate" type="hidden" />
        <input asp-for="CourseYearVM.Active" type="hidden" />
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-5 col-xxl-4">
            <div class="card card-primary card-outline mb-4">
                <div class="card-header">
                    <div class="card-title fw-medium">Create Course Year</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="CourseYearVM.Name" class="form-label"></label>
                                    <input asp-for="CourseYearVM.Name" class="form-control" placeholder="Name" maxlength="30" readonly />
                                    <span asp-validation-for="CourseYearVM.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="CourseYearVM.CourseId" class="form-label"></label>
                                    <select asp-for="CourseYearVM.CourseId"
                                            asp-items="ViewBag.Courses"
                                            class="form-select"
                                            onchange="setCourseYearName()">
                                    </select>
                                    <span asp-validation-for="CourseYearVM.CourseId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="CourseYearVM.Year" class="form-label"></label>
                                    <select asp-for="CourseYearVM.Year"
                                            asp-items="Html.GetEnumSelectList<YearLevel>()"
                                            class="form-select"
                                            onchange="setCourseYearName()">
                                    </select>
                                    <span asp-validation-for="CourseYearVM.Year" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 text-end">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-page="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            setCourseYearName();
        });

        function setCourseYearName() {
            var courseName = $('#CourseYearVM_CourseId option:selected').text();
            var yearName = $('#CourseYearVM_Year option:selected').text();

            switch (yearName) {
                case 'First':
                    $('#CourseYearVM_Name').val(`${courseName} 1`);
                    break;
                case 'Second':
                    $('#CourseYearVM_Name').val(`${courseName} 2`);
                    break;
                case 'Third':
                    $('#CourseYearVM_Name').val(`${courseName} 3`);
                    break;
                case 'Fourth':
                    $('#CourseYearVM_Name').val(`${courseName} 4`);
                    break;
            }
        }
    </script>
}
