@page
@model QuizMakerDb.Pages.Students.CreateModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
	ViewData["Title"] = "Create";

	var requestToken = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

<div class="container-fluid">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item fs-3"><a asp-page="Index">Students</a></li>
			<li class="breadcrumb-item fs-3 active" aria-current="page">Create</li>
		</ol>
	</nav>
	<form class="row justify-content-center mt-3" method="post">
		@Html.AntiForgeryToken()
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<<<<<<< Updated upstream
=======
		<input asp-for="StudentVM.UserName" type="hidden" />
		<input asp-for="StudentVM.CurrentSectionId" type="hidden" />
>>>>>>> Stashed changes
		<input asp-for="StudentVM.Active" type="hidden" />
		<div class="col-xs-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
			<div class="card card-primary card-outline mb-4">
				<div class="card-header">
					<div class="card-title fw-medium">Create Student</div>
				</div>
				<div class="card-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label asp-for="StudentVM.FirstName" class="form-label"></label>
									<input asp-for="StudentVM.FirstName" class="form-control" placeholder="First Name" maxlength="30" />
									<span asp-validation-for="StudentVM.FirstName" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label asp-for="StudentVM.MiddleName" class="form-label"></label>
									<input asp-for="StudentVM.MiddleName" class="form-control" placeholder="Middle Name" maxlength="30" />
									<span asp-validation-for="StudentVM.MiddleName" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label asp-for="StudentVM.LastName" class="form-label"></label>
									<input asp-for="StudentVM.LastName" class="form-control" placeholder="Last Name" maxlength="30" />
									<span asp-validation-for="StudentVM.LastName" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label asp-for="StudentVM.Sex" class="form-label"></label>
									<select asp-for="StudentVM.Sex" asp-items="Html.GetEnumSelectList<Sex>()" class="form-control form-select" onchange="onChangeSex()"></select>
									<span asp-validation-for="StudentVM.Sex" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<label asp-for="StudentVM.Email" class="form-label"></label>
									<input asp-for="StudentVM.Email" class="form-control" placeholder="name@example.com" maxlength="100" />
									<span asp-validation-for="StudentVM.Email"></span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label asp-for="StudentVM.UserName" class="form-label"></label>
									<input asp-for="StudentVM.UserName" class="form-control" placeholder="Username" maxlength="20" />
									<span asp-validation-for="StudentVM.UserName" class="text-danger"></span>
								</div>
							</div>
<<<<<<< Updated upstream
=======
							<div class="col-md-12 mb-4">
								<div class="form-check">
									<input asp-for="StudentVM.isIrregular" class="form-check-input" type="checkbox" onchange="toggleCourseYearSelection()">
									<label asp-for="StudentVM.isIrregular" class="form-check-label">
										Check if the Student is irregular.
									</label>
								</div>
							</div>
							<div class="col-md-12" id="showCourseYearSelection" style="display: none;">
								<div class="row p-2 border rounded">
									<div class="col-12 mt-2 mb-4">
										<span class="fs-5">Select the irregular student current information.</span>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">School Year</label>
											<select asp-items="ViewBag.SchoolYears" class="form-select" id="schoolYearId" onchange="getSections()"></select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">Section</label>
											<select class="form-select" id="sectionSelect" onchange="changeSection()"></select>
										</div>
									</div>
								</div>
							</div>
>>>>>>> Stashed changes
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-12 text-end">
							<input type="submit" value="Create" class="btn btn-primary" />
							<a asp-page="Index" class="btn btn-secondary">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>
		function onChangeSex() {
			var value = event.srcElement.value;
		}
<<<<<<< Updated upstream
=======

		function toggleCourseYearSelection() {
			var isChecked = $('#StudentVM_isIrregular').is(':checked');
    
			if (isChecked) {
				$('#showCourseYearSelection').slideDown(500);
				getSections();
			} else {
				$('#showCourseYearSelection').slideUp(500);
				$('#StudentVM_CurrentSectionId').val(null);
			}
		}

		function changeSection() {
			$('#StudentVM_CurrentSectionId').val($('#sectionSelect').val());

			console.log($('#StudentVM_CurrentSectionId').val());
		}

		function displaySections(sections) {
			var sectionSelect = $('#sectionSelect');

			sectionSelect.empty();

			$.each(sections, function (index, section) {
				var option = `
					<option value="${section.id}">${section.section}</option>
				`;

				sectionSelect.append(option);
			});

			sectionSelect.change();
		}

		function getSections() {
			var schoolYearId = parseInt($('#schoolYearId').val());

			$.ajax({
				type: 'GET',
				url: '/Students/Irregular?handler=SearchSections&schoolYearId=' + schoolYearId,
				dataType: 'json',
				contentType: 'application/json',
				headers: {
					"X-CSRF-TOKEN": $('#RequestVerificationToken').val()
				},
				success: function (data) {
					if (data.message === "OK") {
						displaySections(data.sections);
					}
				},
				error: function (xhr, status, error) {
					console.error("Error: " + error);
				}
			});
		}

		initializeUserName();
>>>>>>> Stashed changes
	</script>
}

